h1,
h2 {
    color: purple;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', sans-serif;
}

h2 {
    font-size: 24px;
}

ul,
ol {
    font-family: "Brush Script", "Times New Roman", sans-serif;
    font-size: 22px;
}

.mainpage {
    text-align: center;
}

img {
    width: 250px;
    height: auto;
}

p {
    text-align: center;
    font-family: "Brush Script", "Times New Roman", sans-serif;
    font-size: 22px;
}

